body{
	
	background-color: #f4f5f7;
}

img{
	
	max-width: 100%;
}

.subtitle{
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 15px
	
}

.title{
	
	font-size: 48px;
    font-weight: 700;
}

.btn-success{
	
	margin-right: 30px
}

.btn{
	
	font-weight: 700;
}

.price{
	
	font-size: 48px;
    font-weight: 400;
}

.main{
	margin-top: 100px;
	color: #32325f;
}

.main-img{
	text-align: right
}

.head{
	background-color: #f4f5f7;
	padding-top: 70px;
	padding-bottom: 190px;
	
}

.block-text{
	font-weight: 400
	
}

.section-head{
	margin-top: 100px;
	
}

.section-subtitle{
	
font-size: 20px;
font-weight: 400;
}


.section-title{
	
font-size: 48px;
font-weight: 700;
}

.title1{
	
	font-size: 48px;
    font-weight: 700;
	margin-bottom: 64px
}

.about{
	
	background-color: #ffffff;
	padding-bottom: 100px;
	padding-top: 100px;
}

.about-block{
	
	margin-top: 100px;
	
}


.people {
  
	background-color: #f4f5f7;
	margin-bottom: 110px;
	

}


.footer{
	
	background-color: #32325f;
	color: #fff;
	 padding-bottom: 100px;
	padding-top: 100px;
	justify-content: space-around;
 
	
		
}





.footer-title{
	
	font-size: 24px;
    font-weight: 700;
	margin-bottom: 35px;
	
	
}
.footer a{
	display: block;
	color: white;
 text-decoration: none;
	
	
}

.footer p{
	
	line-height: 1.4;
	font-weight: 600
	
	
	
}






