body{
	
	background-color:#f9f9f9;
	margin: 0;
	
   
	
}



h1{
	text-align: center;
	margin-top: 100px;
	
}

.images{
	
	 max-width: 1200px;
	
	margin-top: 256px;
	
	display: flex;
	
	justify-content: space-around;
	
	 
    margin: 0 auto;
	
    padding: 0 15px;
	
	
	
	
}

.pic{
	
	 width: 22%;
      margin: 0 5px;
}

img {
	width: 263px;
	height: 210px;
	padding-left: 29px;
	padding-right: 29px;
	padding-bottom: 25px;
	margin-right: 29px;
}

span{
	
	font-size: 16px;
}

a{
	width: 200px;
	height: 55px;
	border: 1px #23bac1;
	border-color: #23bac1;
	font: #23bac1;
	
}

h3{
	font-size: 18px;
	
	
}

