 * {
	 box-sizing: border-box;
}


body{
	
	background-color:#f9f9f9;
	margin: 0;
	
   
	
}



h1{
	text-align: center;
	margin-top: 100px;
	
}

.images{
	
	 max-width: 1200px;
	
	margin-top: 256px;
	
	display: flex;
	
	justify-content: space-around;
	
	 
    margin: 0 auto;
	
    padding: 0 15px;
	margin-top: 125px
	
	
	
	
}

.pic{
	
	 width: 22%;
      margin: 0 5px;
}

img {
	width: 263px;
	height: 210px;
	
	margin-bottom: 25px;
	
}

h2 {
	
	font-size: 16px;
	font-family: "sans-serif";
	margin-bottom: 18px;
	font-weight: 300;
	text-align: center
	
}

button{
	
	text-transform: uppercase;
	border: 1px solid #23bac1;
	color: #23bac1;
	font-size: 13px;
	background-color: #f9f9f9;
	padding: 22px ;
	display: block;
	 padding: 18px 0;
	 width: 200px;
	  margin: 0 auto;
	text-align: center
	
	
	
	
}

span{
	font-size: 18px;
	margin-bottom: 25px;
	font-weight: 700;
	text-align: center;
	display: block;
		
}



