* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: MuseoSans;
}

img {
  min-width: 100%;
}

@media (max-width: 1200px) {
  .container {
    width: 760px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 580px;
    width: 90%;
  }
}

@media (max-width: 480px) {
  .container {
    width: 290px;
  }
}

.button {
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
}

.button:hover {
  background-color: #ffdb33;
  cursor: pointer;
}

.section {
  padding: 90px 0;
}

.section-title {
  max-width: 650px;
  font-size: 24px;
  text-align: center;
}

.section-subtitle {
  font-size: 16px;
}

.input {
  border: 1px solid #dddddd;
  padding: 20px 26px;
  font-size: 15px;
  border-radius: 10px;
}

.arrows__left:hover, .arrows__right:hover {
  cursor: pointer;
}

.navbar {
  padding: 8px 0;
  background-color: white;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}

.navbar__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar__button {
  margin-left: 30px;
  font-weight: 700;
  outline: none !important;
}

.navbar__phone {
  display: inline-block;
  font-size: 20px;
  text-decoration: none;
  margin-top: 10px;
  font-weight: 700;
  color: #333333;
}

@media (max-width: 768px) {
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    font-size: 12px;
  }
  .navbar__logo {
    width: 90px;
  }
}

.hero {
  padding: 50px 0;
  background-color: #f5f5f5;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-text {
  -ms-flex-preferred-size: 51%;
      flex-basis: 51%;
  padding-right: 100px;
}

.hero-text__title {
  font-size: 40px;
  line-height: 55px;
  margin-bottom: 50px;
  font-weight: 700;
}

.hero-text__subtitle {
  display: inline-block;
  font-size: 16px;
  font-weight: 800;
  margin-bottom: 70px;
}

.hero-list {
  margin: 0;
  padding: 0;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.hero-list__item:last-child {
  margin-bottom: 0;
}

.hero-list__image {
  width: 40px;
  height: 40px;
  margin-right: 30px;
}

.hero-list-text {
  min-width: 300px;
}

.hero-list-image {
  max-width: 100%;
  -webkit-box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.05), 16px 22px 35px rgba(0, 0, 0, 0.05);
          box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.05), 16px 22px 35px rgba(0, 0, 0, 0.05);
}

@media (max-width: 1200px) {
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-list {
    margin-bottom: 44px;
  }
  .hero-text {
    padding-right: 10px;
  }
}

@media (max-width: 768px) {
  .hero-text__title {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 15px;
  }
  .hero-text__subtitle {
    font-size: 16px;
    margin-bottom: 28px;
  }
  .hero-text-list__item {
    margin-bottom: 12px;
  }
  .hero-text-list__text {
    font-style: 12px;
  }
  .hero-text-list__image {
    margin-right: 15px;
  }
}

@font-face {
  font-family: 'MuseoSans';
  src: url("../fonts/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans';
  src: url("../fonts/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

.offer {
  background: url("../img/offer-bg.png") no-repeat;
  background-position: center right;
  background-size: contain;
  position: relative;
}

.offer:before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 0;
}

.offer-block {
  width: 51%;
  padding-right: 90px;
  position: relative;
}

.offer__title {
  max-width: 360px;
  line-height: 35px;
  margin-bottom: 24px;
  font-weight: 700;
  text-align: left;
}

.offer__subtitle {
  display: block;
  max-width: 250px;
  margin-bottom: 30px;
  font-weight: 400;
}

.offer__input {
  margin-bottom: 30px;
  width: 240px;
  outline: none !important;
}

.offer__input:first-child {
  margin-right: 14px;
}

.offer__button {
  min-height: 70px;
  width: 100%;
  margin-left: 0;
  outline: none !important;
}

.offer-call {
  margin-top: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offer-call__manager {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  max-width: 225px;
  margin: 0;
  padding-right: 5px;
}

.offer-call__callback {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  max-width: 189px;
}

.offer-call__tel {
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  margin-left: -5px;
  color: #333333;
}

@media (max-width: 1200px) {
  .offer {
    background-size: auto 100%;
  }
  .offer__input {
    background-size: cover;
    width: 100%;
    margin-bottom: 10px;
  }
  .offer__button {
    font-size: 13px;
  }
}

@media (max-width: 992px) {
  .offer {
    background-size: auto 100%;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .offer {
    background: #fff;
    background-size: auto 100%;
  }
  .offer-block {
    width: 100%;
    padding-right: 0;
  }
  .offer__input {
    width: 100%;
    margin-bottom: 10px;
  }
  .offer__button {
    font-size: 13px;
  }
}

.portfolio {
  background: #f5f5f5 url("../img/portfolio/portfolio-pattern.jpg") repeat-y center left;
  background-size: 50%;
}

.portfolio__title {
  margin: auto;
  margin-bottom: 100px;
}

.portfolio .slider__image {
  padding-right: 30px;
}

.portfolio .slider__items {
  margin: auto;
  margin-right: 30px;
  text-align: center;
  outline: none !important;
}

.portfolio .slider__items:last-child {
  margin-right: 0;
}

.portfolio__arrows {
  min-width: 120px;
  margin: auto;
  width: 25px;
  height: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 68px;
}

.price__title {
  margin: 0 auto 58px;
  max-width: 530px;
  text-align: center;
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 44px;
}

.price__subtitle {
  margin-bottom: 64px;
  text-align: center;
  display: block;
  color: #000000;
  font-size: 20px;
  font-weight: 100;
  line-height: 10px;
}

.price__card {
  margin-bottom: 30px;
}

.card {
  text-align: center;
  border: 1px solid #e8e8e8;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card:hover {
  -webkit-box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
}

.card:hover .card__image::before {
  opacity: 1;
}

.card__text {
  padding: 38px 0 44px;
}

.card__title {
  margin-top: 0;
  margin-bottom: 28px;
  color: #000000;
  font-size: 18px;
  font-weight: 300;
}

.card__image {
  position: relative;
}

.card__image img {
  display: block;
}

.card__image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffd200), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card__link {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: none;
  position: relative;
}

.card__link:hover:after {
  height: 12px;
}

.card__link:after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ffd200;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog {
  position: relative;
  margin: auto;
  max-width: 450px;
  width: 90%;
  min-width: 200px;
  background-color: #fff;
  padding: 40px;
}

.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
  outline: none !important;
  cursor: pointer;
}

#close {
  font-family: sans-serif;
  font-size: 13px;
  color: #333;
  font-weight: 700;
  border-radius: 6px;
  background-color: #fff;
  height: 49px;
  width: 70px;
  text-align: center;
  line-height: 49px;
  display: block;
  margin-left: 30px;
  border: 0px;
}
/*# sourceMappingURL=style.css.map */